.footer {
	background: #000;
}

.footer-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	max-width: 1200px;
	margin: 0 auto;
	padding: 120px 20px 60px 20px;
	gap: 100px;
	align-items: center;
}

.footer-texto {
	font-size: 1.5rem;
	line-height: 1.33;
	color: #ccc;
}

.footer-contato li {
	font-weight: bold;
	font-size: 1.8rem;
	line-height: 1.1;
	color: #fff;
	margin-bottom: 30px;
}

.footer-contato li a {
	text-decoration: none;
	color: #fff;
}

.footer-copy {
	font-size: 1.125rem;
	grid-column: 1 / -1;
	text-align: center;
	color: #8f8f8f;
}

@media (max-width: 800px) {
	.footer-container {
		grid-template-columns: 1fr;
		gap: 40px;
	}

	.footer-contato li {
		font-size: 1.5rem;
	}
}
